$button_back: tomato;
$butto_hover: #fff;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize
}

.main{
    width: 1000px;
    margin: 100px auto;
}
